*{
    margin: 0;
    padding: 0;
}

$colorPrimario:#A3140A;
$colorSecundario:#FF4538;
$colorTerciario:#F0291C;
$tamanioTitulo:32px;
$tamanioTexto:20px;


.nav{
    background-color:$colorPrimario;
    ul{
        list-style: none;
        display: flex;
        justify-content:center;
        li{
            padding: 5px;
            a{
                text-decoration: none;
                font-size: 20px;
                opacity: .80;
                &:hover{
                    opacity: 1;
                }
            }    
        }
    }
}
.tarjeta{
    background-color: $colorSecundario;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 15px;
    p{
        text-align: center;
        font-size: $tamanioTexto;
    }

}
.post{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 5px;
    background-color: $colorPrimario;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    h5{
        font-size: $tamanioTitulo;
    }
    p{
        font-size: $tamanioTexto;
    }
    button{
        border-radius: 5px;
        border: 0;
        padding: 10px 15px;
        background-color: $colorTerciario;
        margin-top: 5px;
    }
}
.footer{
    background-color: $colorPrimario;
}